.menuItem {
    display: inline-block;
    position: relative;
    line-height: 33px;
    
    a {
      text-decoration: none;
      color: white;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }

    .downArrowIcon {
      position: relative;
      top: 6px;
      left: -5px;
    }
  }