@import '../../styleResources/colors.scss';

.button {
    background-color: $primary;
    color: white;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8em;
    height: 40px;
    width: 100%;
    
    &:hover {
      background-color: $secondary;
    }
}