@import '../../styleResources/colors.scss';

.button {
    background-color: $primary;
    color: white;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8em;
    height: 40px;
    width: 100%;
    
    &:hover {
      background-color: $secondary;
    }

    .loader {
      -webkit-animation:spin 1.5s linear infinite;
      -moz-animation:spin 1.5s linear infinite;
      animation:spin 1.5s linear infinite;
  }

  @-moz-keyframes spin { 
      100% { -moz-transform: rotate(360deg); } 
  }
  @-webkit-keyframes spin { 
      100% { -webkit-transform: rotate(360deg); } 
  }
  @keyframes spin { 
      100% { 
          -webkit-transform: rotate(360deg); 
          transform:rotate(360deg); 
      } 
  }
}