.splitScreen {
    display: flex;
    flex: 2 1;
    width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    column-gap: 20px;
}

@media screen and (max-width: 440px) {
    .splitScreen {
        display: block;
        width: 96%;
        padding-top: 10px;
        margin: 0 2%;
    }
}