@import '../../styleResources/colors.scss';

.productCard {
    padding: 10px;
    border-radius: 10px;
    width: 240px;
    margin: 0 auto;
    cursor: pointer;
    a { 
      text-decoration: none; 
      color: black;
      &:visited { color: black;}
    }
    &:hover {
      box-shadow: 0px 0px 4px 5px rgba(0,0,0,.1);
    }
    
    &__image {
      display: flex;
      justify-content: center;
    }
    
    &__title {
      font-weight: 600;
      margin: 10px 0;
    }
    
    &__price {
      color: rgb(11, 153, 230) !important;
      margin: 10px 0;
    }
  }