.emailSubscriptionForm {
    margin: 100px auto;
    border: 1px solid orange;
    padding: 40px 25px;
    border-radius: 7px;
    width: 520px;
    background-color: rgba(219, 145, 33, 0.15);
    text-align: center;
    font-family: arial;
  
    &__title {
      font-size: 24px;
      font-weight: 600;
      color: #b07e31;
      margin-bottom: 15px;
    }
  
    &__description {
      width: 60%;
      font-size: 0.9em;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  
    &__formInput {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 8px;
      input {
        width: 100%;
        padding: 15px;
        border: orange 1px solid;
        border-radius: 3px;
      }
    }
  
    &__submitButton {
      width: 100%;
      padding: 15px;
      color: white;
      border: none;
      border-radius: 3px;
      font-size: 1.1em;
      text-decoration: uppercase;
      background: rgb(199, 125, 34);
      background: linear-gradient(
        rgba(255, 141, 0, 1) 0%,
        rgba(199, 125, 34, 1) 100%
      );
    }
  }
  