@import '../../styleResources/colors.scss';

.emailSubscriptionForm {
    margin: 100px auto 50px;
    border-top: 1px solid $primary;
    border-bottom: 1px solid $primary;
    padding: 40px 25px;
    background-color: rgba(125, 132, 178, 0.15);
    text-align: center;
    font-family: arial;
  
    &__title {
      font-size: 24px;
      font-weight: 600;
      color: $primary;
      margin-bottom: 15px;
    }
  
    &__description {
      width: 60%;
      font-size: 0.9em;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  
    &__formInput {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 8px;
      input {
        width: 350px;
        padding: 15px;
        border: $primary 1px solid;
        border-radius: 3px;
        margin: 0 auto;
      }
    }
    &__buttonContainer {
      width: 380px;
      margin: 0 auto;
    }

    &__errorMessage {
      color: red;
    }
  }

  @media screen and (max-width: 440px) {
    .emailSubscriptionForm {
       
      &__buttonContainer {
        width: 100%;
      }
    }
}
  